---
layout: default
title: About
permalink: /about/
---




<div class="callout">
  {% include events.html %}
  {% include blog_posts.html %}
</div>
<!--  <div class="video">
  <div>
    <p>Video placeholder</p>
  </div> -->

<div class="main">
  <h2>About PLIX</h2>
  <p>Public libraries and the MIT Media Lab are kindred spirits. Both support an open, collaborative environment where learning can flourish.</p>

  <p>The Public Library Innovation Exchange (PLIX) supports joint projects between public librarians and Media Lab researchers. Together, we hope to design new tools and programs for public libraries around the world.</p>

  <p>Learn more about community-designed <a href={{ '/activities' | relative_url }}>PLIX activities</a>, or sign-up for our <a class="typeform-share link" href="https://mllearning.typeform.com/to/xPXkaa" data-mode="drawer_right" target="_blank">community updates</a>. <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })()</script></p>
  <br/>
  <h3>Collaborators</h3>
  <p>PLIX is a project of the <a href="https://www.media.mit.edu/groups/ml-learning/overview/">Media Lab Learning Initiative</a>, in collaboration with the Knight Foundation and MIT Libraries.</p>
  <p>
    <a href="https://knightfoundation.org"><img src={{ '/images/KF_logo-stacked.png' | relative_url }} class="external-logo" /></a>
    <img src={{ '/images/MFF_logo.png' | relative_url }} class="external-logo" />
  	<a href="https://libraries.mit.edu"><img src={{ '/images/mit-libraries-logo.png' | relative_url }} class="libraries-logo" /></a>
  </p>
</div>
