---
layout: default
title: Community
permalink: /community/
---

{% assign unhangouts = site.data.unhangouts %}

{% if unhangouts %}
  <div class="callout">
    <h2>Upcoming Unhangouts</h2>

    {% for u in unhangouts %}
      <h3>{{ u[1].title }}</h3>
      <p><em>{{ u[1].date }}</em><br />
      {% if u[1].url %}
        <a href="{{ u[1].url }}">Join us!</a>
      {% else %}
        Stay tuned for more info!
      {% endif %}
      </p>
    {% endfor %}

  </div>
{% endif %}

<div class="main">
  <h2>Residency Exchanges</h2>

  <p>
    Residency exchanges pair up teams of public librarians with Media Lab researchers to develop materials together. Meet our current residency exchange participants:
    <ul>
      <li><a href={{ '/community/exchanges/playful-words' | relative_url }}>Playful Words and Boston Public Library</a></li>
      <li><a href={{ '/community/exchanges/databasic' | relative_url }}>DataBasic.io and St Paul Public Library</a></li>
      <li><a href={{ '/community/exchanges/scratchx' | relative_url }}>ScratchX and Richland Library</a></li>
      <li><a href={{ '/community/exchanges/openag' | relative_url }}>Open Agriculture Initiative, Akron-Summit County Public Library, and Free Library of Philidelphia</a></li>
      <li><a href={{ '/community/exchanges/space' | relative_url }}>Space Exploration Initiative, Charlotte Mecklenburg Library, and Cambridge Public Library</a></li>
    </ul>
  </p>

  <h3>PLIX is all about building collaborations, so let’s team up!</strong></h3>

  <p>Want to participate in a residency exchange?<br />
      Have an idea for a project you’d like to work on?<br />
      Implemented one of our projects and want to share your experience or give feedback?</p>

  <p><a href="mailto:{{ site.email }}">Let us know!</a></p>
</div>


