---
layout: default
title: Community
permalink: /community/
---

<div class="callout">
  {% include unhangouts.html %}
  {% include news.html %}
<!--  {% include events.html %}-->
</div>

<div class="main">
  <h2>Connect to the PLIX community</h2>

  <p>Want to try our one of our community developed activities in your library? Want to become a PLIX beta tester? Want to apply for a residency exchange? Implemented one of our projects and want to share your experience or give feedback? Let's team up!</p>
  <p>We want to hear from you!
	<a class="typeform-share link" href="https://mllearning.typeform.com/to/xPXkaa" data-mode="drawer_right" target="_blank">Join the PLIX Community</a>. <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })()</script>
	</p>
	<br/>

	<h3>Recent Blogposts about PLIX</h3>	
	<!--<p style="color: gray; margin-bottom:5px"><b>MIT Media Lab Collaborates with Public Librarians</b></p>
		<p class="date">in <i>Library Journal</i> [ <a href="https://lj.libraryjournal.com/2018/04/academic-libraries/mit-media-lab-collaborates-public-librarians/#_" target="_blank">link</a> ]</p>-->
	<p style="color: gray; margin-bottom:5px"><b>An Exchange Program for Public Librarians</b></p>
		<p class="date">in <i>MIT Media Lab Blog</i> [ <a href="https://medium.com/mit-media-lab/an-exchange-program-for-public-librarians-5e6466f5b4f8" target="_blank">link</a> ]</p>
	<p style="color: gray; margin-bottom:5px"><b>Introducing the Public Library Innovation Exchange (PLIX)</b></p>
		<p class="date">in <i>MIT Media Lab Blog</i> [ <a href="https://medium.com/mit-media-lab/introducing-the-public-library-innovation-exchange-d7e3554d2520" target="_blank">link</a> ]</p>
</div>
