// _layout.scss

@import '_styles';



//////////////////////////////////
////////// Small layout //////////
//////////////////////////////////

.site-header {
  .header-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; // vertical alignment
    align-items: center; // horizontal alignment
    margin-right: 15px;
    margin-left: 15px;
  }
}

.grid-wrapper {
  width: 80%;
  margin: 20px 10%;
  display: grid;
  grid-gap: 30px;
}

.tile-wrapper {
  margin: 0;
  padding: 0 15px;
}

.site-logo {
  padding: 5px;
}

.site-nav {
  ul {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; // vertical alignment
    align-items: center; // horizontal alignment
    padding: 10px 0;
  }

  li a {
    margin: 0;
    padding: 5px;
    font-size: $medium-font;
  }
}

.callout {
  .tile {
    text-align: center;
  }
}

.details {
  .video-container {
    position: relative;
    margin-top: 20px;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;

    iframe {
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  p.resource-links {
    line-height: 1.5;
  }
}

.tiles {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; // vertical alignment
  align-items: center; // horizontal alignment

  li {
    text-align: center;
    font-size: $large-font;
    font-weight: $heavy-weight;
    padding: 15px;
  }

  img {
    //margin-bottom: 10px;
  }

  .tile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; // vertical alignment
    align-items: center;
    margin-top: 10px;
  }
}

.site-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; // vertical alignment
  align-items: center; // horizontal alignment

  span {
    padding: 10px;
  }
}



/////////////////////////////////////////
////////// Small-medium layout //////////
/////////////////////////////////////////

@media (min-width: 500px) {
  .site-nav {
    width: 100%;
    max-width: 800px;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: center; // horizontal alignment
      align-items: center; // vertical alignment
    }

    li a {
      margin: 0 10px;
      padding: 7px;
      font-size: $medium-font;
    }

  }

  .tiles {
    display: grid;
    grid-template-columns: repeat(2,minmax(150px, 400px));
    /*
    li {
      border-bottom: 1px solid $gray;
      border-right: 1px solid $gray;
      padding: 30px 20px;
    }

    li:nth-child(2n) {
      border-right: none;
    }

    li:nth-child(2n+1):nth-last-child(-n+2),
      li:nth-child(2n+1):nth-last-child(-n+2) ~ li {
        border-bottom: none;
    }
    */
  }

  .site-footer {
    flex-direction: row;
    justify-content: center; // horizontal alignment
    align-items: center; // vertical alignment
  }
}



/////////////////////////////////////////
////////// Large-medium layout //////////
/////////////////////////////////////////

@media (min-width: 700px) {
  .site-header {
    padding: 10px 15px;
    .header-content {
      max-width: 1200px;
      margin: auto;
      display: flex;
      flex-direction: row;
      justify-content: space-between; /* horizontal alignment */
      align-items: center; /* vertical alignment */
    }

    .site-nav {
      ul {
        justify-content: flex-end; /* horizontal alignment */
        margin-left: 20px;
      }

      li a {
        font-size: $medium-font;
      }
    }
  }

  .grid-wrapper {
    width: auto;
    max-width: 1200px;
    padding: 0 15px;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto auto 1fr auto;
    grid-auto-rows: max-content;
    grid-auto-flow: row;
  }

  .main {
    grid-column: 1;
    grid-row: 1 / 3;
  }

  .community {
    grid-column: 1;
    grid-row: 3 / 4;
    align-self: start;
  }

  .details {
    grid-column: 2;
    grid-row: span 3;
  }

  .tiles {
    li {
      padding: 40px 20px;
    }
  }

  .site-footer {
    grid-column: 1 / 5;
    grid-row: 4 / 5;
  }
}



//////////////////////////////////
////////// Large layout //////////
//////////////////////////////////

@media (min-width: 900px) {
  .grid-wrapper {
    margin-right: auto;
    margin-left: auto;
  }

  .tiles {
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    grid-template-columns: repeat(3,minmax(150px, 400px));
    /*
    li {
      border-bottom: 1px solid $gray;
      border-right: 1px solid $gray;
    }

    li:nth-child(2n) {
      border-right: 1px solid $gray;
    }

    li:nth-child(2n+1):nth-last-child(-n+2),
      li:nth-child(2n+1):nth-last-child(-n+2) ~ li {
        border-bottom: 1px solid $gray;
    }

    li:nth-child(3n) {
        border-right: none;
      }

    li:nth-child(3n+1):nth-last-child(-n+3),
      li:nth-child(3n+1):nth-last-child(-n+3) ~ li {
        border-bottom: none;
    }
    */
  }
}