// _layout.scss

@import '_styles';



//////////////////////////////////
////////// Small layout //////////
//////////////////////////////////

.site-header {
  padding: 0;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 1;

  .header-content {
    margin: 0 15px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; // vertical alignment
    align-items: center; // horizontal alignment
  }

  .site-logo {
    padding: 10px 0;
    height: 45px;
    width: auto;
  }

  .site-nav {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center; // vertical alignment
    align-items: center; // horizontal alignment

    a {
      margin: 0 10px 10px 10px;
      padding: 9px 7px 8px 7px;
      display: inline-block;
      text-align: center;
      font-size: $med-sm-font;
    }
  }
}

.grid-wrapper {
  padding: 0 15px;
  min-height: 67vh;
  width: 80%;
  margin: 130px 10% 0 10%;
  display: grid;
  grid-gap: 0;
}

.tile-wrapper {
  padding: 0 15px;
  width: 80%;
  margin: 130px auto 0 auto;
}

.callout {
  .tile {
    text-align: center;
  }
}

.details {
  .video-container {
    position: relative;
    margin-top: 20px;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;

    iframe {
      position: absolute;
      top:0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  img {
    width: 100%;
    height: auto;
  }

  p.resource-links {
    line-height: 1.5;
  }
}

div.community {
  padding-bottom: 20px;

  div.image-container {
    img {
      width: 100%;
      height: auto;
      padding: 5px 0;
    }
  }
}

.tiles {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start; // vertical alignment
  align-items: center; // horizontal alignment

  li {
    text-align: center;
    font-size: $large-font;
    font-weight: $heavy-weight;
    padding: 15px;
  }

  .tile {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; // vertical alignment
    align-items: center;
    margin-top: 10px;
  }
}

footer.site-footer {
  width: 80%;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  padding: 15px 0;
  flex-direction: column;
  justify-content: center; // horizontal alignment
  align-items: center; // vertical alignment

  span {
    padding: 10px;
    text-align: center;

    img {
      display: inline-block;
      align: middle;
      vertical-align: bottom;
      height: 2.6em;
      width: auto;
      padding: 0 5px;
      margin-bottom: 3px;
    }
  }
}



/////////////////////////////////////////
////////// Small-medium layout //////////
/////////////////////////////////////////

@media (min-width: 500px) {
  .site-header {
    .header-content {
      max-width: 550px;
      margin: auto;
      .site-nav {
        a {
          margin: 0 15px 10px 15px;
          font-size: $medium-font;
        }
      }
    }
  }

  .tile-wrapper {
    max-width: 550px;
  }

  .tiles {
    display: grid;
    grid-template-columns: repeat(2,minmax(150px, 400px));
  }

  div.community {
    div.image-container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 10px;
      justify-items: center;
      align-items: center;

      img {
        padding: 0;
      }
    }
  }
}



/////////////////////////////////////////
////////// Large-medium layout //////////
/////////////////////////////////////////

@media (min-width: 700px) {
  .site-header {
    position: relative;

    .header-content {
      max-width: 950px;
      margin: auto;
      padding: 0 15px;
      flex-direction: row;
      justify-content: space-between;

      .site-logo {
        padding: 20px 0;
      }

      .site-nav {
        width: auto;
        margin: 0;
        flex-direction: row;
        justify-content: flex-end; // horizontal alignment

        a {
          margin: 0 15px;
        }
      }
    }
  }

  .grid-wrapper {
    //width: auto;
    max-width: 950px;
    margin: 20px 35px 20px 35px;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto auto 1fr auto;
    grid-auto-rows: max-content;
    grid-auto-flow: row;
  }

  .tile-wrapper {
    //width: 100%;
    max-width: 950px;
    margin: 20px auto 0 auto;
  }

  .main {
    grid-column: 1;
    grid-row: 1 / 3;
    padding-right: 15px;
  }

  .callout {
    padding-left: 15px;
  }

  .community {
    grid-column: 1;
    grid-row: 3 / 4;
    align-self: start;
    padding-right: 15px;
  }

  .details {
    grid-column: 2;
    grid-row: span 3;
    padding-left: 15px;
  }

  .tiles {
    li {
      padding: 30px 20px;
    }
  }

  footer.site-footer {
    grid-column: 1 / 5;
    grid-row: 4 / 5;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: row;
  }
}



//////////////////////////////////
////////// Large layout //////////
//////////////////////////////////

@media (min-width: 900px) {
  .header-content {
    max-width: 950px;
    margin: 0 auto;
  }

  .grid-wrapper {
    max-width: 950px;
    margin: 20px auto 20px auto;
    padding: 0 35px;
  }

  .tile-wrapper {
    //width: 80%;
    max-width: 950px;

    .activity-page-headline{
      max-width: 750px;
      margin: 20px auto;
    }
  }

  .tiles {
    //max-width: 950px;
    margin-right: auto;
    margin-left: auto;
    grid-template-columns: repeat(3,minmax(150px, 450px));
  }

  .main, .community {
    padding-right: 20px;
  }

  .callout, .details {
    padding-left: 20px;
  }
}