$font-stack: Helvetica, Arial, sans-serif;
$extra-large-font: 28px;
$large-font: 20px;
$medium-font: 18px;
$med-sm-font: 14px;
$small-font: 0.8em;
$light-weight: 300;
$medium-weight: 400;
$heavy-weight: 600;
$main-color: #e62565;
$light-main-color: #fce5ed;
$accent-color: #3acefc;
$gray: #979797;

// Universal default styling
body {
  font: 100% $font-stack;
  font-size: $medium-font;
  font-weight: $medium-weight;
  background-color: #ffffff;
  margin: 0;

  h2 {
    font-size: $extra-large-font;
    font-weight: $heavy-weight;
  }

  h3 {
    font-size: $large-font;
    font-weight: $heavy-weight;
  }

  p {
    margin-top: 0;
    line-height: 1.2em;
  }

  a {
    text-decoration: underline;
    color: $main-color;
  }

  a:hover {
    color: $accent-color;
  }

  li{
    padding-bottom: 10px;
  }

}

// Header-specific styling for all layouts
.site-header {
  background-color: white;
  border-bottom: 10px solid $main-color;
}

.site-nav {
  a {
    text-decoration: none;
    color: black;
    font-weight: $medium-weight;
  }

  a.active {
    background-color: lighten($main-color,42%);
  }

  a:hover {
    color: $main-color;
  }
}

// Content component styling for all layouts
.callout {

  h3 {
    margin: 0;
  }

  p {
    margin-bottom: 1em;
  }

  p.no-space {
    margin-bottom: 0;
  }

  .tile {
    background-color: $accent-color;
    padding: 10px;

    a:hover {
      color: white;
    }
  }

  ul.blog-posts {
    list-style-type: none;
    padding: 0;

    li {
      padding-bottom: 1em;
    }
  }

  span.date {
    color: $gray;
    text-decoration: none !important;
  }
}

.details {
  .info-label {
    font-weight: $medium-weight;
  }

  ul.resource-links {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      padding: .25em 0;
    }
  }
}

.no-heading {
  padding-top: 20px;
}

.activities-headline {
  background-color: $light-main-color;
  text-align: center;
}

img.external-logo {
  text-align: left;
  height: 2em;
  padding: 0 10px 0 0;
}

img.libraries-logo {
  text-align: left;
  height: 3em;
  padding: 0 10px 0 0;
}

.tiles {
  list-style: none;

  .tile {
    img {
      transition: .5s ease;
    }

    .overlay {
      opacity: 0;
      color: black;
      font-size: $medium-font;
      font-weight: $medium-weight;
      transition: .5s ease;
    }

    .tile-name {
      background-color: $main-color;
      color: white;
      font-size: $medium-font;
      font-weight: $heavy-weight;
    }
  }

  .tile:hover {
    img {
      opacity: .2;
    }

    .overlay {
      opacity: 1;
    }
  }
}

div.video {
  width: 100%;
  height: 130px;
  background-color: $gray;
  text-align: center;
  padding-top: 20px;
}

// Footer-specific styling for all layouts
.site-footer {
  span {
    font-size: $small-font;
  }
}
