$font-stack: Helvetica, Arial, sans-serif;
$extra-large-font: 28px;
$large-font: 20px;
$medium-font: 18px;
$med-sm-font: 14px;
$small-font: 0.8em;
$light-weight: 300;
$medium-weight: 400;
$heavy-weight: 600;
$main-color: #E62565;
$accent-color: #3ACEFC;
$gray: #979797;

body {
  font: 100% $font-stack;
  font-size: $medium-font;
  font-weight: $medium-weight;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 6' width='6' height='6'%3e%3ccircle cx='5' cy='5' r='0.35' fill='#979797' stroke='none' stroke-width='0' /%3e%3c/svg%3e");

  margin: 0;

  h2 {
    font-size: $extra-large-font;
    font-weight: $heavy-weight;
  }

  h3 {
    font-size: $large-font;
    font-weight: $heavy-weight;
  }

  p {
    margin-top: 0;
  }

  a {
    text-decoration: underline;
    color: $main-color;
  }

  a:hover {
    color: $accent-color;
  }

}

.site-header {
  background-color: white;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 6 6' width='6' height='6'%3e%3ccircle cx='5' cy='5' r='0.35' fill='#979797' stroke='none' stroke-width='0' /%3e%3c/svg%3e");
  border-bottom: 10px solid $main-color;
}

.site-nav {
  a {
    text-decoration: none;
    color: black;
    font-weight: $medium-weight;
  }

  a.active {
    background-color: lighten($main-color,42%);
  }

  a:hover {
    color: $main-color;
  }
}

.site-footer {
  span {
    font-size: $small-font;
  }
}

.callout {

  h3 {
    margin: 0;
  }

  p {
    margin-bottom: 1em;
  }

  p.no-space {
    margin-bottom: 0;
  }

  .tile {
    background-color: $accent-color;
    padding: 10px;

    a:hover {
      color: white;
    }
  }
}

.details {
  .info-label {
    font-weight: $medium-weight;
  }

  ul.resource-links {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      padding: .25em 0;
    }
  }
}

.no-heading {
  padding-top: 20px;
}

.tiles {
    list-style: none;

  .tile {
    position: relative;
    width: 100%;
  }

  img {
    max-width: 200px;
    max-height: 200px;
    transition: .5s ease;
  }

  .tile:hover {
    .overlay {
        opacity: 1;
      }

      img {
        opacity: 0;
        background-color: lighten($accent-color,20%);
      }
  }
  .overlay {
    position: absolute;
    top: 0;
    bottom: 50%;
    left: 50%;
    right: 50%;
    height: 200px;
    width: 200px;
    opacity: 0;
    transform: translate(-50%, 0);
    transition: .5s ease;
  }

  .info {
    color: black;
    background-color: lighten($accent-color,20%);
    font-size: $med-sm-font;
    font-weight: $medium-weight;
    position: relative;
    width: 90%;
    height: 90%;
    padding: 5%;
    }

    a {
      font-size: $medium-font;
      font-weight: $medium-weight;
      text-decoration: underline;
      color: $main-color;
    }

    a:hover {
    color: white;
  }
}

div.video {
  width: 100%;
  height: 130px;
  background-color: $gray;
  text-align: center;
  padding-top: 20px;
}